body.md-theme-dark {
    font-family: Muli,Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    background-color: #010101;
    color: rgba(255, 255, 255, 0.90);
}
h1, h2 {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
p {
    margin-bottom: 20px;
}
.md-theme-dark.md-button:not([disabled]).md-primary.md-raised, .md-theme-dark.md-button:not([disabled]).md-primary.md-fab {
    background-color: #ffa726;
    color: rgba(0, 0, 0, 0.87);
}
.md-theme-dark :not(input):not(textarea)::selection {
    background-color: #ffa726;
    color: rgba(0, 0, 0, 0.87);
}
.md-theme-dark .entity-picture .hexagon-border {
    background-color: #5E626B;
}
section:not(.profile){
    background-color: #27292d;
    margin-bottom: 18px;
    padding: 24px;
}
.profile__person-info {
    position: relative;
    width: 100%;
    background-color: #27292d;
    border-top: 3px solid var(--theme-color);
    padding: 24px;
}
.container{
    width:100%;
    max-width:960px;
    margin: 100px auto;
    text-align: center;
}
.person-picture__hexagon {
    margin-top: -102px;
}
.person-picture__hexagon .entity-picture {
    --size: 150px;
    --font-size: 93.75px;
    --border-width: 5px;
    --box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
}
.profile__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1380px;
    width: 100%;
    margin: 60px auto 16px;
}
.profile__person-info.person-picture {
    margin-top: 40px;
}
.profile__location, .languages-box__title, p {
    color: #cccccc;
}
.languages-box__chips {
    margin-top: 20px;
}
.summary-contact-info {
    margin: 40px 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.summary-contact-info a {
    width: 40px;
    height: 40px;
    min-width: auto;
    padding: 0;
    flex-basis: 40px;
    margin: 0 16px 0;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    transition: all 1s cubic-bezier(.25,.8,.25,2);
}
.summary-contact-info a i {
    min-width: 40px;
    line-height: 24px;
    font-size: x-large;
    color: white;
    position: absolute;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 0;
}
.summary-contact-info a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}
.md-theme-dark .entity-picture .hexagon-border {
    background-color: #5E626B;
}
.entity-picture__thumbnail--no-margins {
    margin: auto;
}
.entity-picture .hexagon-border {
    position: absolute;
    left: calc(50% - var(--size)/2);
    width: var(--size);
    height: var(--size);
    clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    -webkit-clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
}
.entity-picture .entity-picture__thumbnail {
    border: unset;
    border-radius: 0;
    width: calc(var(--size) - var(--border-width)*2);
    height: calc(var(--size) - var(--border-width)*2)!important;
    -webkit-transform: translateY(var(--border-width));
    transform: translateY(var(--border-width));
    clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
    -webkit-clip-path: polygon(45% 1.33975%,46.5798% .60307%,48.26352% .15192%,50% 0,51.73648% .15192%,53.4202% .60307%,55% 1.33975%,89.64102% 21.33975%,91.06889% 22.33956%,92.30146% 23.57212%,93.30127% 25%,94.03794% 26.5798%,94.48909% 28.26352%,94.64102% 30%,94.64102% 70%,94.48909% 71.73648%,94.03794% 73.4202%,93.30127% 75%,92.30146% 76.42788%,91.06889% 77.66044%,89.64102% 78.66025%,55% 98.66025%,53.4202% 99.39693%,51.73648% 99.84808%,50% 100%,48.26352% 99.84808%,46.5798% 99.39693%,45% 98.66025%,10.35898% 78.66025%,8.93111% 77.66044%,7.69854% 76.42788%,6.69873% 75%,5.96206% 73.4202%,5.51091% 71.73648%,5.35898% 70%,5.35898% 30%,5.51091% 28.26352%,5.96206% 26.5798%,6.69873% 25%,7.69854% 23.57212%,8.93111% 22.33956%,10.35898% 21.33975%);
}
.md-chip {
    height: unset;
    margin: 4px;
    background-color: transparent;
    border: 1px solid #ffa726;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 32px;
    /* transition: all .4s cubic-bezier(.25,.8,.25,1); */
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
}
/* .industries__chips .md-chip {
    background-color: rgba(255, 255, 255, 0.16);
    border-color: transparent;
}
.interests__chips .md-chip {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.16);
    border-color: transparent;
    color: #ffa726
}
.languages-box__chips .md-chip {
    border-radius: 0px;
} */